*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f0f2f5;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color:#1c1e21;
  background-size: cover;
}
footer{
    
  height: 30vh;
  background-color: #ffffff;
  position: absolute;
  margin-top: 1000px;
  width:112%;
}
